version: "3.7"
services:
  tracker:
    image: zorlin/torrust-tracker:v0.2.0
    ports:
      - "6969:6969/tcp"
      - "6969:6969/udp"
    expose:
      - 1212
    volumes:
      - type: bind
        source: ./tracker-config.toml
        target: /opt/torrust/torrust-tracker/config.toml
  backend:
    privileged: true
    image: zorlin/torrust-backend:v0.2.0
    expose:
      - 3000
    volumes:
      - type: bind
        source: ./data/backend/
        target: /opt/torrust/torrust/backend/db/
      - type: bind
        source: ./backend-config.toml
        target: /opt/torrust/torrust/backend/db/config.toml
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - $PWD/data/frontend/dist/:/srv
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
    external: true
  caddy_config:
