server {
    listen 80;
    server_name ${YOUR_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    root /usr/share/nginx/html;
    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://torrust-docker_backend_1:3000/;
    }
}

